body {
    background-color: #C49963;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    background-color: #98673F;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}

h2{
    font-size:40px
}

h3{
    font-size:30px
}

#navigation{
    font-size: 20px;

}

.navigation{
    font-size: 20px;
}

a:hover {
    color: pink;
    text-align: center;
}

.main-text{
    color: #1C1C1C;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.secondary-text{
    color: #1C1C1C;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.third-text{
    color: #1C1C1C;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

.video{
    position: relative;
    height: 50%;
    width: 50%;
    overflow: hidden;
}


#videoUno{

}

#videoDos{
    height: 40%;
    width: 29%;
    transform: translate(600px,-430px);

}

#video-textOne{

}

#video-textTwo{
    transform: translate(750px,-430px);

}

#videoThres{
    height: 40%;
    width: 29%;
    transform: translate(1300px,-2400px);

}

#video-textThree{
    transform: translate(1500px,-2400px);

}

body{
    margin: 0;
    padding: 0;
}

.header-left ol{
    width: auto;
    float: left;
    display: block;
    background-color: #6899D3;
    margin: 0; //RESET DEFAULT
padding: 0; // RESET DEFAULT
}

#image1{
    transform: translate(100px,-0px);

}

#image2{
    transform: translate(770px,-400px);

}

#image3{
    transform: translate(1400px,-805px);

}

#ImageText1{
    transform: translate(230px,648px);

}

#ImageText2{
    transform: translate(900px,580px);

}

#ImageText3{
    transform: translate(1560px,488px);

}

img:hover {
    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#image6{
    transform: translate(400px,-315px);
}
#image7{
    transform: translate(800px,-630px);
}
#image8{
    transform: translate(1200px,-945px);
}
#image9{
    transform: translate(1600px,-1260px);
}

#image10{
    transform: translate(0px,-1587px);
}

.secondPageNavigation{
    transform: translate(50px,-1587px);

}